<div class="container-wrapper">
    <div class="container ">
        <div style="position: relative; z-index: 1;">
            <div class="col-md-7" style="padding-top: 5vw;">
                <h1 style="font-size: 5vw;line-height:0.9;">Discover your best wardrobe for you, your wallet and the planet.</h1>
                <h3 style="padding-top: 2vh;font-size: 1vw;">Use Fits Me to manage and style your closet, available all over the world, for free.</h3>
            </div>
        </div>
        <div style="position: relative; z-index: 1;">
            <div style="padding-top: 20px;">
                <table style="text-align: left; border-spacing: 0 20px;align-items: center;">
                    <tr>
                        <td style="padding-right: 20px;">
                            <p style="font-size: 3vh;"><i class="fas fa-brain"></i></p>
                        </td>
                        <td style="font-size: 1.2vw;padding-bottom: 1vh;">
                            See everything you own in the palm of your hand;<br> think creating outfits and styling your items on the go
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;">
                            <p style="font-size: 3vh;"><i class="fas fa-chart-bar"></i></p>
                            
                        </td>
                        <td style="font-size: 1.2vw;padding-bottom: 1vh;">
                            Learn what you wear and how you wear it to help you buy less, and better
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;">
                            <p style="font-size: 3vh;"><i class="fas fa-calendar"></i></p>
                            
                        </td>
                        <td style="font-size: 1.2vw;padding-bottom: 1vh;">
                            Plan and schedule outfits ahead of time                       
                         </td>
                    </tr>
                    
                    <tr>
                </table>
                
                
                
            </div>
        </div>
    </div>
    
    <img src="../assets/fondo.jpg" alt="" class="background-image">
</div>

